<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %} Album {% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <header>
            <ul>
                <li><a href="{{path('Home') }}"> Home </a></li>
                <li><a href="{{path('Album') }}"> Albums </a></li>
                <li><a href="{{path('Event') }}"> Events </a></li>
                <li><a href="{{path('Admin') }}"> Admin </a></li>
                <li><a href="{{path('Login') }}"> Login </a></li>
            </ul>
            <hr>
        </header>

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
            
    </body>
</html>
