{% extends "AppBundle::layout.html.twig" %}

{% block admin %}
	<ul>Bands
		<div>
			<span><a href="{{ path('Band_new') }}">NEW</a></span> //
			<span><a href="{{ path('Band_add') }}">ADD</a></span>
		</div>
		{% for b in band %}
			<li>{{b.id}} // {{b.name}}
				<ol>
					<li><a href="{{ path('Band_edit',{'id':b.id}) }}">edit</a></li>
				</ol>
            </li>
		{% endfor %}

	</ul>
	<hr>
	<ul>Events 
		<div>
			<span><a href="{{ path('Event_new') }}">NEW</a></span> // 
			<span><a href="{{ path('Event_add') }}">ADD</a></span>
		</div>


		{% for e in event %}
			<li>{{e.id}} // {{e.name}}
				<ol>
					<li><a href="{{ path('Event_edit',{'id':e.id}) }}">edit</a></li>
				</ol>
            </li>
		{% endfor %}
	</ul>
	<hr>
	<ul>Album
		<div>
			<span><a href="{{ path('Album_new') }}">NEW</a></span> //
			<span><a href="{{ path('Album_add') }}">ADD</a></span>
		</div>
		
		{% for a in album %}
			<li>{{a.id}} // {{a.name}}
				<ol>
					<li><a href="{{ path('Album_edit',{'id':a.id}) }}">edit</a></li>
				</ol>
			</li>
		{% endfor %}
	</ul>

	{% endblock %}