{% extends "AppBundle::layout.html.twig" %}

{% block album %}
	<h2>Albums</h2>
	{% for al in albums %}
	<ul>
		<li>Name : <a href="{{path('Album_view',{'name': al.name}) }}">{{al.name}}</a></li>
		<li>Description : {{al.description}}</li>
		<li>Date de mise à jour : {{al.updatedAt|date('Y-m-d')}}</li>
		<li>
			<a href="{{path('Album_view_band',{'name': al.band.name}) }}">{{al.band.name}}
			</a> 
		</li>
		<li>
			<a href="{{path('Album_view_categ',{'name': al.band.name}) }}"> categories de {{al.band.name}}
			</a>
		</li>
	</ul>
	<hr>
	{% endfor %}
{% endblock %}
