{% extends "AppBundle::layout.html.twig" %}

{% block title %} Album {{album.name}} {% endblock %}

{% block oneAlbum %}

	<h2>{{album.name}}</h2>
	<div>
		<dl>
			<dt>Description</dt>
			<dd>{{album.description}}</dd>
			<dt>Ispublish</dt>
			<dd>{{album.ispublish|number_format}}</dd>
			<dt>Date de mise à jour</dt>
			<dd>{{album.updatedAt|date('Y-m-d')}}</dd>
			<dt>groupe:</dt>
			<dd>{{album.band.name}}</dd>
		</dl>
	</div>

{% endblock %}